<!doctype html>
<html>
<head>
    <title>Money Tracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="style.css">-->
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Money Tracker</h1>
        <img width=400 src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmoviewriternyu.files.wordpress.com%2F2014%2F01%2Fmoney.jpg&f=1&nofb=1" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
